@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
 
body {
  font-family: Arial, sans-serif;
  font-family: Poppins;
}
*{
  text-decoration: none;
  list-style: none;
}
/* Start Header */
header .header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.inputs {
  gap: 10px;
  margin-bottom: 2rem;
}

header .header{

  padding-top: 15px;
}

header .header nav ul{
  display: flex;
  align-items: center;
}

header .header nav ul li {
  padding-left: 50px;
}

header .header nav ul li a{
  color: #000000;
  transition: 0.3s;
}

header .header nav ul li a:hover{
  color: #7C770C;
}

header .header nav ul .active{
  color: #7C770C;
  font-family:Poppins;
  font-size: 18px;
}

header .header nav ul .categ{
  display: flex;
  align-items: center;
}

header .header nav ul .categ img{
  padding-left: 6px;
}

header .header p{
  color: #1E1E1E;
  font-weight: bold;
  font-size: 18px;
}

header .header .icons{
  display: flex;
  align-items: center;
}

header .header .icons li{
  padding-left: 25px;
  font-size: 23px;
} 

header .header .icons .user{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

header .header .icons .user a{
  color: #000000;
}


header .header .icons .shopping{
  position: relative;
}

header .header .icons .shopping::after{
  content: "";
  position: absolute;
  width: 20px;
  height:20px;
  background-color: #F5EE1C;
  border-radius: 50%;
  right: -9px;
  top: -12px;
  padding: 1px;
}

header .header .icons .shopping::before{
  content: "3";
  position: absolute;
  color: white;
  top: -12px;
  right: -5px;
  z-index: 1;
}

header .header .icons .bell{
  position: relative;
}

header .header .icons .bell i{
  font-size: 28px;
}


header .header .icons .bell::after{
  content: "";
  position: absolute;
  width: 10px;
  height:10px;
  background-color: red;
  border-radius: 50%;
  right: 0px;
  top: 0px;
}
header .inputs {
  padding-top: 20px;
  margin-right: 10px;
  gap: 12px;

}

header .inputs form {
  display: flex;
  justify-content: center;
  gap: 50px;
}

header .inputs form .text {
  width: 26%;
  position: relative;
}

header .inputs form input[type="text"] {
  width: 100%;
  padding: 17px 17px 17px 43px;
  border-radius: 7px;
  border: 2px solid #000000;
}

header .inputs form .location {
  position: absolute;
  left: 15px;
  font-size: 22px;
  top: 25%;
  color: red;
}

header .inputs form .down {
  position: absolute;
  right: -40px;
  top: 30%;
  color: #000000;
}

header .inputs form .search {
  width: 45%;
  position: relative;
  margin-left: 50px;
}

header .inputs form input[type="search"] {
  width: 100%;
  padding: 17px;
  border-radius: 7px;
  border: 2px solid black;
}

header .inputs form input[type="text"],
header .inputs form input[type="search"]:focus {
  outline: none;
}

header .inputs form .search .srch {
  position: absolute;
  right: 20px;
  top: 25%;
  font-size: 20px;
}

header .inputs form  .submit{
  width: 12%;
} 

header .inputs form input[type="submit"] {
  width: 100%;
  padding: 17px;
  background-color:#F5EE1C;
  color: white;
  border-radius: 7px;
  border: 1px solid #F5EE1C;
  font-weight: bold;
  font-size: 20px;
}

header .inputs form input[type="submit"]:hover {
  cursor: pointer;
}
/* End Header */



.link .container ul{
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.link .container ul li {
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.link .container ul .home {
  color: #7C770C;
  font-family:Poppins;
  font-size: 18px;
}


.link .container ul .head a {
  color: #7C770C;
  font-family:Poppins;
  font-size: 18px;
}

.link .container ul .head1 p {
  color: #000;
  font-family:Poppins;
  font-size: 32px;
}





.container {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

    align-items: center;
    gap: 2rem;
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.thumbnails {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.thumbnails img {
    width: 152px;
    height: 164px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    border: 3px solid transparent;
}

.thumbnails img.active, .thumbnails img:hover {
    border-color: #0099ff;
    transform: scale(1.05);
}

.main-image img {
    width: 447px;
    height:auto;
    border-radius: 20px;
    transition: 0.3s;
}
.content h2{
 font-size: 30px;
}
.content .icon i{
    color:yellow
}
.content .price p{
    color:red;
    font-size: 32px;
}
.content .price span{
    text-decoration: line-through;
    color: #1E1E1E;
    font-size: 15px;
    margin-right: 5px;
}
.content p{
    color: #645e5e;
}
.content hr{
    margin-top:2rem;
}

.content .btn button {
    background-color:yellow;
    color: #fff;
    border:none;
    padding:8px 19px;
    border-radius:12px;
    cursor: pointer;
}
.content .btn  #small{
    background-color:#fff;
    color:black;
    border: solid 1px black;
}
a button{
    background-color:yellow;
    border: none;
    padding:12px 14px;
    width: 500px;
    border-radius:11px;
    color: white;

}
.reviews{
    margin: 2rem 4rem;

}
.reviews .box {
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
    border:solid 1px #2b2a2a;
    border-radius: 15px;
    margin-top: 2rem;
}
.containe-rev{
margin-bottom: 3rem;

}
.containe{
    margin-left: 2rem;
}
.containe-rev .box .image img{
  margin-top: 10px;
  margin-left: 2rem;
}
.box.content{
    margin-left: 2rem;

}
.emotion{
    margin-bottom: 8px;

}
.emotion a{
    color:black;
    margin: 1rem;
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.review-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.input-group {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.input-group input {
    width: 460px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

textarea {
    width: 955px;
    padding: 10px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: none;
    font-size: 14px;
    margin-bottom: 15px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 15px;
}

.stars {
    color: #ccc;
    font-size: 20px;
    cursor: pointer;
}
.stars span{
    color: #696565;
}
.content .stars{
    margin-left: 10rem;
    color: yellow;
}

.submit-btn {
    background-color: yellow;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.submit-btn:hover {
    background-color: #fdd835;
}


/* Start Footer */
.footer{
    margin-top: 60px;
    background-color: #000000;
    color: white;
    padding: 40px ;
  }
  
  .footer .links{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(270px , 1fr));
    gap: 20px;
    margin-bottom: 50px;
  }
  
  .footer .links .social {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .footer .links .social .logo {
    width: 81px;
    margin-bottom: 20px;
  }
  
  .footer .links  .customer li a
  ,.footer .links  .profile li a
  ,.footer .links  .contact-us li a{
    display: block;
    color: white;
  }
  
  
  .footer .links  .customer h3
  ,.footer .links  .profile h3
  ,.footer .links  .contact-us h3{
    margin-bottom: 35px;
  }
  
  .footer .links  .customer li
  ,.footer .links  .profile li 
  ,.footer .links  .contact-us li {
    padding-bottom: 20px;
  }
  
  .footer hr {
    border-color: #808080;
    width: 100%;
  }
  
  .footer .terms{
    text-align: center;
    padding-top: 25px;
  }
  
  .footer .terms span {
    padding-left: 30px;
  }
  /* End Footer */