/* Start Global Rules */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior:smooth;
}

body{
    font-family: Poppins;
    position: relative;
}

body .up{
    position: absolute;
    font-size: 40px;
    left: 50px;
    bottom: 400px;
    background-color: black;
    color: white;
    padding: 10px;
    z-index:1000;
}

.container {
    padding: 0 30px 0 30px;
    margin: 0 auto 0 auto ;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
/* End Global Rules */

/* Start Header */
header .header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header .header{

    padding-top: 15px;
}

header .header nav ul{
    display: flex;
    align-items: center;
}

header .header nav ul li {
    padding-left: 50px;
}

header .header nav ul li a{
    color: #000000;
    transition: 0.3s;
}

header .header nav ul li a:hover{
    color: #7C770C;
}

header .header nav ul .active{
    color: #7C770C;
    font-family:Poppins;
    font-size: 18px;
}

header .header nav ul .categ{
    display: flex;
    align-items: center;
}

header .header nav ul .categ img{
    padding-left: 6px;
}

header .header p{
    color: #1E1E1E;
    font-weight: bold;
    font-size: 18px;
}

header .header .icons{
    display: flex;
    align-items: center;
}

header .header .icons li{
    padding-left: 25px;
    font-size: 23px;
} 

header .header .icons .user{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

header .header .icons .user a{
    color: #000000;
}


header .header .icons .shopping{
    position: relative;
}

header .header .icons .shopping::after{
    content: "";
    position: absolute;
    width: 20px;
    height:20px;
    background-color: #F5EE1C;
    border-radius: 50%;
    right: -9px;
    top: -12px;
    padding: 1px;
}

header .header .icons .shopping::before{
    content: "3";
    position: absolute;
    color: white;
    top: -12px;
    right: -5px;
    z-index: 1;
}

header .header .icons .bell{
    position: relative;
}

header .header .icons .bell i{
    font-size: 28px;
}


header .header .icons .bell::after{
    content: "";
    position: absolute;
    width: 10px;
    height:10px;
    background-color: red;
    border-radius: 50%;
    right: 0px;
    top: 0px;
}
header .inputs {
    padding-top: 20px;
}

header .inputs form {
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
}

header .inputs form .text {
    width: 26%;
    position: relative;
}

header .inputs form input[type="text"] {
    width: 100%;
    padding: 17px 17px 17px 43px;
    border-radius: 7px;
    border: 2px solid #000000;
}

header .inputs form .location {
    position: absolute;
    left: 15px;
    font-size: 22px;
    top: 25%;
    color: red;
}

header .inputs form .down {
    position: absolute;
    right: 15px;
    top: 30%;
    color: #000000;
}

header .inputs form .search {
    width: 50%;
    position: relative;
}

header .inputs form input[type="search"] {
    width: 100%;
    padding: 17px;
    border-radius: 7px;
    border: 2px solid black;
}

header .inputs form input[type="text"],
header .inputs form input[type="search"]:focus {
    outline: none;
}

header .inputs form .search .srch {
    position: absolute;
    right: 20px;
    top: 25%;
    font-size: 20px;
}

header .inputs form  .submit{
    width: 12%;
} 

header .inputs form input[type="submit"] {
    width: 100%;
    padding: 17px;
    background-color:#F5EE1C;
    color: white;
    border-radius: 7px;
    border: 1px solid #F5EE1C;
    font-weight: bold;
    font-size: 20px;
}

header .inputs form input[type="submit"]:hover {
    cursor: pointer;
}
/* End Header */


/* Start slide bar */
.container-1{
    position: relative;
}

.container-1 .wrapper{
    width: calc(100vw - 20px);
    height: 100vh;
    box-shadow: 10px 10px 20px rgba(0 , 0 , 0 , 0 , 0.6);
    margin: auto;
    overflow: hidden;
}

.container-1 .wrapper-holder{
    display: grid;
    grid-template-columns: repeat(3, 100%);
    height: 100%;
    width: 100%;
    animation: slider 30s ease-in-out infinite alternate;
}

.container-1 .button-holder .button{
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
}

.container-1 .button-holder{
    position: absolute;
    left: 45%;
    bottom: 0;
}

.button:hover{
    box-shadow: 0px 0px 7px 4px rgba(0,255,255,0.6);
}

@keyframes slider{
    0%{transform: translateX(0%);}
    10%{transform: translateX(0%);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-100%);}
    40%{transform: translateX(-100%);}
    50%{transform: translateX(-200%);}
    60%{transform: translateX(-200%);}
    70%{transform: translateX(-200%);}
    80%{transform: translateX(-100%);}
    90%{transform: translateX(0%);}
    100%{transform: translateX(0%);}
}
/* End slide bar */




/* Start Landing */
.landing {
    background-image: url("/assets/images/circles.svg");
    background-size: cover;
    background-color: white;
    min-height: 100vh;
    padding-top: 100px;
    position: relative;
}

.landing .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing content .text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: red;
    display: flex;
    justify-content: flex-end;
}

.landing .content .text {
    max-width: 500px;
}


.landing .content .text h1 span{
    color: #F5EE1C;
}

@media (max-width:767px) {
    .landing .content {
        width: 100%;
    }

    .landing .content .text {
        max-width: 100%;
    }
}

.landing .content .text h1 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 25px;
}

.landing .content .text p {
    font-size: 14px;
    line-height: 2;
}

.landing .change-background {
    position: absolute;
    color: #ddd;
    top: 50%;
    transform: translateY(-50%);
}

.landing .bullets {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
/* End Landing */

.gategories{
    padding-top: 100px;
}

.gategories .container ul {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(150px , 1fr));
    gap: 20px;
}

.gategories .container ul li {
    background-color: white;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
}

.gategories .container ul li p{
    padding-top: 10px;
    color: #115573;
}


/* Start Offers */

.offers {
    padding-top: 100px;
}

.offers .container .text{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.offers .container .text h2{
    font-size: 36px;
}

.offers .container .text a{
    background-color: #F5EE1C;
    border-radius: 8px;
    color: white;
    padding: 15px 48px;
    border: 1px solid #F5EE1C;
}

.offers .container .carts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px , 1fr));
    gap: 23px;
}

.offers .container .carts .cart{
    width: 270px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    padding:20px;
    box-shadow: 5px 5px 10px black;
    margin: auto;
    padding-left: 20px;
    position: relative;
    transition: 1s;
}

.offers .container .carts .cart:hover{
    background-color: rgba(255, 255, 0, 0.2);
}

.offers .container .carts .cart .img img{
    width: fit-content;
}


.offers .container .carts .cart .icon i{
    background-color: white;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 22px;
    border-radius: 50%;
    padding: 5px;
}

.offers .container .carts .cart .icon:hover i{
    color: red;
}

.offers .container .carts .cart p {
    padding-top: 15px;
    color: #000000;
    margin-bottom: 15px;
}

.offers .container .carts .cart .price {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
}

.offers .container .carts .cart .price .new{
    color:#DB4444;
    font-weight: bold;
}

.offers .container .carts .cart button{
    width: 100%;
    background-color: #F5EE1C;
    color: white;
    padding: 10px;
    border: 1px solid #F5EE1C;
}


/* Start Recommend */
.recommend {
    padding-top: 100px;
}

.recommend .container .text{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.recommend .container .text h2{
    font-size: 36px;
}

.recommend .container .text a{
    background-color: #F5EE1C;
    border-radius: 8px;
    color: white;
    padding: 15px 48px;
    border: 1px solid #F5EE1C;
}
.recommend .container .carts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px , 1fr));
    column-gap: 23px;
    row-gap: 60px;
}

.recommend .container .carts .cart{
    width: 270px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    padding:20px;
    box-shadow: 5px 5px 10px black;
    margin: auto;
    padding-left: 20px;
    position: relative;
    transition: 1s;
}

.recommend .container .carts .cart:hover{
    background-color: rgba(255, 255, 0, 0.2);
}

.recommend .container .carts .cart .img img{
    width: fit-content;
}

.recommend .container .carts .cart .icon i{
    background-color: white;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 22px;
    border-radius: 50%;
    padding: 5px;
}

.recommend .container .carts .cart .icon:hover i{
    color: red;
}

.recommend .container .carts .cart p {
    padding-top: 15px;
    color: #000000;
    margin-bottom: 15px;
}

.recommend .container .carts .cart .price {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
}

.recommend .container .carts .cart .price .new{
    color:#DB4444;
    font-weight: bold;
}

.recommend .container .carts .cart button{
    width: 100%;
    background-color: #F5EE1C;
    color: white;
    padding: 10px;
    border: 1px solid #F5EE1C;
}
/* End Recomment */





/* Start Explore */
.Explore {
    padding-top: 100px;
    /* padding-bottom: 100px; */
}

.Explore .container .text{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.Explore .container .text h2{
    font-size: 36px;
}

.Explore .container .text .btns button{
    background-color: #F5F5F5;
    border-radius: 8px;
    color: #000000;
    padding: 5px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid #F5F5F5;
}

.Explore .container .carts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px , 1fr));
    column-gap: 23px;
    row-gap: 60px;
}

.Explore .container .carts .cart{
    width: 270px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    padding:20px;
    box-shadow: 5px 5px 10px black;
    margin: auto;
    padding-left: 20px;
    position: relative;
    transition: 1s;
}

.Explore .container .carts .cart:hover{
    background-color: rgba(255, 255, 0, 0.2);
}

.Explore .container .carts .cart .img img{
    width: fit-content;
}

.Explore .container .carts .cart .icon i{
    background-color: white;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 22px;
    border-radius: 50%;
    padding: 5px;
}

.Explore .container .carts .cart .icon:hover i{
    color: red;
}

.Explore .container .carts .cart p {
    padding-top: 15px;
    color: #000000;
    margin-bottom: 15px;
}

.Explore .container .carts .cart .price {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
}

.Explore .container .carts .cart .price .new{
    color:#DB4444;
    font-weight: bold;
}

.Explore .container .carts .cart button{
    width: 100%;
    background-color: #F5EE1C;
    color: white;
    padding: 10px;
    border: 1px solid #F5EE1C;
}

.Explore .container .all{
    display: block;
    background-color: #F5EE1C;
    border-radius: 8px;
    color: white;
    padding: 15px 48px;
    border: 1px solid #F5EE1C;
    margin: auto;
    margin-top: 100px;
} 
/* End Explore */


/* Start Footer */
.footer{
    margin-top: 60px;
    background-color: #000000;
    color: white;
    padding: 40px ;
}

.footer .links{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(270px , 1fr));
    gap: 20px;
    margin-bottom: 50px;
}

.footer .links .social {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer .links .social .logo {
    width: 81px;
    margin-bottom: 20px;
}

.footer .links  .customer li a
,.footer .links  .profile li a
,.footer .links  .contact-us li a{
    display: block;
    color: white;
}


.footer .links  .customer h3
,.footer .links  .profile h3
,.footer .links  .contact-us h3{
    margin-bottom: 35px;
}

.footer .links  .customer li
,.footer .links  .profile li 
,.footer .links  .contact-us li {
    padding-bottom: 20px;
}

.footer hr {
    border-color: #808080;
    width: 100%;
}

.footer .terms{
    text-align: center;
    padding-top: 25px;
}

.footer .terms span {
    padding-left: 30px;
}
/* End Footer */